@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

/* .slice {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.slice-lg {
  padding-top: 6rem;
  padding-bottom: 6rem;
} */
.productcard {
  font-family: "Nunito", sans-serif;

  position: relative;
  display: flex;
  flex-direction: column;
  /* min-width: 0; */
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #eff2f7;
  border-radius: 0.375rem;
}
.productcard-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
  color: #8492a6;
}
