<div class="container">
  <form class="login-form" (ngSubmit)="onSubmit()">
    <div>
      <label for="text" class="control-label">Username</label>
      <input
        type="text"
        name="username"
        id="username"
        [(ngModel)]="username"
        placeholder="Enter Username"
        class="form-control"
      />
    </div>
    <div>
      <label for="text">Password</label>
      <input
        type="text"
        name="password"
        id="password"
        [(ngModel)]="password"
        class="form-control"
        placeholder="Enter Password"
      />
    </div>
    <input type="submit" value="Login" class="btn btn-block" />
  </form>
</div>
