<aside class="col">
  <hr class="d-lg-none" />
  <div class="container">
    <div class="p-4 h-100 ms-auto border-start" style="font-family: sans-serif">
      <div class="px-lg-2">
        <div class="text-center mb-4 py-3 border-bottom">
          <h2 class="h6 mb-3 pb-1">Cart Total</h2>
          <h3 class="fw-normal">{{ calc() }}</h3>
        </div>
        <div class="text-center mb-4 pb-3 border-bottom">
          <h2 class="h6 mb-3 pb-1">Promo Code</h2>
        </div>
      </div>
    </div>
  </div>
</aside>
